//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  border-radius: toRem(30);
  width: 100%;
  display: block;
  padding: 0px toRem(20);
  border: 1px solid #172a53;
  background-color: transparent;

  height: toRem(53);

  color: #172a53;
  font-family: "Inter";
  font-size: toRem(20);
  font-weight: 400;
  line-height: 100%;

  &:focus {
    outline: 1px solid #172a53;
  }

  &._form-focus {
  }
  &._form-error {
  }
}
.input[placeholder]:not([data-placeholder-nohiden]) {
  &::placeholder {
    transition: opacity 0.3s;
  }
  &:focus::placeholder {
    opacity: 0;
  }
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}
