// Заголовки, загальні БЕМ блоки та інше...

//========================================================================================================================================================

.title {
  color: #fff;
  font-family: "Unbounded";
  @include adaptiveValue("font-size", 40, 25);
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;

  &_dark {
    color: #000;
  }

  &_blue {
    color: #172a53;
  }
}

.title-content {
  color: #fff;
  font-family: "Unbounded";
  @include adaptiveValue("font-size", 36, 22);
  font-weight: 500;
  line-height: 125%; /* 45/36 */

  &_dark {
    color: #000;
  }
}

.mark {
  color: #fff;
  font-family: "Muller";
  @include adaptiveValue("font-size", 20, 18);
  font-weight: 400;
  line-height: 100%;

  &_dark {
    color: #000;
  }
}

.top-section {
  display: flex;
  gap: toRem(15);
  justify-content: space-between;

  @media (max-width: $mobileSmall) {
    flex-direction: column;
  }

  &_mark {
  }
}

//========================================================================================================================================================

.decore {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  //   border: 2px solid #fff;
  pointer-events: none;

  //   &::before,
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     top: -3px;
  //     left: 8px;
  //     width: calc(100% - 16px);
  //     height: 5px;
  //     background-color: #000;
  //   }

  //   &::after {
  //     top: auto;
  //     bottom: -3px;
  //   }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 15px 15px 15px 15px / 7px 7px 7px 7px;
    border: 2px solid #fff;
  }

  &::before {
    clip-path: polygon(0 0, 65% 0, 65% 100%, 0 100%);
  }
  &::after {
    left: auto;
    right: 0;
    clip-path: polygon(35% 0, 100% 0, 100% 100%, 35% 100%);
  }

  &_vertical {
    &::before,
    &::after {
      top: auto;
      right: auto;
      left: auto;
      left: 0;
      width: 100%;
      height: 15px;
      border-radius: 10px 10px 10px 10px / 25px 25px 25px 25px;
    }

    &::before {
      clip-path: polygon(0 0, 100% 0, 100% 65%, 0 65%);
    }
    &::after {
      bottom: 0;
      clip-path: polygon(0 35%, 100% 35%, 100% 100%, 0 100%);
    }
  }
}

//========================================================================================================================================================

.link {
  color: #fff;
  font-family: "Unbounded";
  @include adaptiveValue("font-size", 20, 18);
  font-weight: 500;
  line-height: 125%; /* 25/20 */
  text-transform: uppercase;

  display: inline-block;
  margin-top: auto;

  position: relative;

  transition: all 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      &::before {
        animation: puls 1s linear infinite;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    right: 0;
    background-color: #fff;

    transition: all 0.3s ease 0s;
  }

  &_dark {
    color: #172a53;
    &::before {
      background-color: #172a53;
    }
  }
}

@keyframes puls {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//========================================================================================================================================================

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: toRem(10);
  .swiper-pagination-bullet {
    cursor: pointer;
    display: block;
    width: toRem(15);
    height: toRem(15);
    border-radius: 50%;
    border: 1px solid #fff;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        background-color: #fff;
      }
    }
  }
  .swiper-pagination-bullet-active {
    background-color: #fff;
  }
}

//========================================================================================================================================================

.navigation {
  display: flex;
  gap: toRem(20);
  &__button {
    position: relative;
    width: toRem(60);
    height: toRem(60);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: toRem(25);
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        .navigation__decore {
          width: 90%;
          left: 5%;
        }
      }
    }

    &.swiper-button-disabled {
      opacity: 0.3;
    }
  }

  &__decore {
    transition:
      width 0.3s ease 0s,
      left 0.3s ease 0s;
  }
}
.button-prev {
}

.button-next {
}

//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================

canvas#wawes {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

//========================================================================================================================================================
